Repository hmcts/adoption-cos-api, pull requests merged in 2021-11, with the labels that each got.

#8 Added swagger docs publish steps in travis CI
  .travis.yml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-8

#10 Added swagger UI configuration
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/controllers/RootController.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-10

#11 ADOP-10-adding-logger added dependencies to build.gradle
  build.gradle
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/controllers/RootController.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-11

#12 Added exception framework
  build.gradle
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/adoption/framework/exceptions/TaskException.java
  src/main/java/uk/gov/hmcts/reform/adoption/framework/exceptions/WorkflowException.java
  src/test/java/uk/gov/hmcts/reform/adoption/DemoUnitTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-12

#20 added terraform code to copy s2s secrets in adoption-kv keyvault
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-20
