Repository hmcts/adoption-cos-api, pull requests merged in 2022-04, with the labels that each got.

#200 Addev spring CVE fix
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/smoke/SmokeFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/smoke/SmokeTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/SwaggerConfiguration.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-200

#201 renamed docmosis templates
  src/functionalTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-201

#207 Fix for zap reported issue
  audit.json
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-207

#211 Nightly build zap fix
  audit.json
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-211

#212 enabled high level data setup for prod
  Jenkinsfile_CNP
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-212

#217 sonar fixes
  src/test/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcherTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-217

#221 updated charts
  charts/adoption-cos-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-221

#226 sync R2master with master branch
  Jenkinsfile_CNP
  audit.json
  build.gradle
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.yaml
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/smoke/SmokeFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/smoke/SmokeTestConfiguration.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcherTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-226

#231 updated suppressions.xml
  .github/dependabot.yml
  charts/adoption-cos-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-231

#235 Welsh template file name prod 2
  config/owasp/suppressions.xml
  src/functionalTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-235
