Repository hmcts/adoption-cos-api, pull requests merged in 2022-06, with the labels that each got.

#299 Adop 678 language preference
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-299

#303 FPET-33 suppressed CVE
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-303

#313 Added suppressions
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-313

#317 updated ccd.sdk version
  build.gradle
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/SearchInputFields.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-317

#298 elastic search image update
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-298
