Repository hmcts/adoption-cos-api, pull requests merged in 2022-12, with the labels that each got.

#572 Adop 1666 fao preview docmosis
  src/e2e/pages/finalAdoptionOrder.page.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-572

#579 ADOP-1411 Check and send orders part1
  codecept.conf.js
  src/e2e/config.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/tests/checkAndSendOrders_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/DirectionsOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderStatus.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-579

#585 Feature/adop 1536 adjournhearing
  Jenkinsfile_CNP
  codecept.conf.js
  src/e2e/actors/base.js
  src/e2e/pages/login.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/tests/manageHearingTab_test.js
  src/e2e/tests/manageHearings_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-585

#599 Added new jaa chart version
  charts/adoption-cos-api/Chart.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-599

#598 Orders view tab added
  codecept.conf.js
  src/e2e/fixtures/checkAndSendOrderDetails.js
  src/e2e/fixtures/finalAdoptionOrderDetails.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageOrderTab.page.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/checkAndSendOrders_test.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderCheckAndSend.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderStatus.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-598

#603 FPET-289 - removed deprecated annotation in jenkins file
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-603

#614 Update .terraform-version
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-614

#617 ADOP-1886: Terraform version upgrade
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-617

#620 Upgrade terraform version to 0.13.2
  infrastructure/.terraform-version
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-620

#621 Upgrade terraform version to 0.14.3
  infrastructure/.terraform-version
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-621

#601 ADOP-1260 General Direction Order Part 1 changes
  codecept.conf.js
  src/e2e/actors/base.js
  src/e2e/config.js
  src/e2e/fixtures/generalDirectionOrderDetails.js
  src/e2e/pages/generalDirectionOrder.page.js
  src/e2e/tests/generalDirectionOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/GeneralDirectionOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/DirectionsOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/GeneraDirectionsIncluded.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/GeneralDirectionOrderState.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/GeneralDirectionOrderTypes.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-601

#625 Upgrade terraform version to 1.0.7
  infrastructure/.terraform-version
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-625

#626 Upgrade terraform version to 1.3.6
  infrastructure/.terraform-version
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-626

#627 R2master
  codecept.conf.js
  config/owasp/suppressions.xml
  src/e2e/actors/base.js
  src/e2e/config.js
  src/e2e/fixtures/generalDirectionOrderDetails.js
  src/e2e/pages/generalDirectionOrder.page.js
  src/e2e/tests/generalDirectionOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/GeneralDirectionOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/DirectionsOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/GeneraDirectionsIncluded.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/GeneralDirectionOrderState.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/GeneralDirectionOrderTypes.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-627

#615 Adop 1874 docmosis a76 final
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-615

#619 Case file - Send a message - Attach document + check your answer- Part 2
  Jenkinsfile_CNP
  codecept.conf.js
  src/e2e/actors/base.js
  src/e2e/config.js
  src/e2e/fixtures/sendOrReplyToMessagesDetails.js
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/allocateJudge_test.js
  src/e2e/tests/amendCaseDetails_test.js
  src/e2e/tests/amendOtherPartiesDetails_test.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/e2e/tests/generalDirectionOrder_test.js
  src/e2e/tests/manageHearingTab_test.js
  src/e2e/tests/manageHearings_test.js
  src/e2e/tests/paymentTab_test.js
  src/e2e/tests/seekFurtherInfo_test.js
  src/e2e/tests/sendOrReplyToMessages_test.js
  src/e2e/tests/summaryTab_test.js
  src/e2e/tests/transferCourt_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageDocumentList.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageSendDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedMessage.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-619

#629 ADOP-1862: Send and reply test case added
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-629

#618 Feature adop 1890 generaldirectionorder part2
  src/e2e/pages/generalDirectionOrder.page.js
  src/e2e/tests/generalDirectionOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/GeneralDirectionOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/DirectionsOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-618

#635 Feature r2master covergefix
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtilTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-635

#624 ADOP-1873-FAO-Docmosis-A206
  src/e2e/actors/base.js
  src/e2e/pages/finalAdoptionOrder.page.js
  src/e2e/tests/manageHearingTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-624

#641 R2master
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/sendOrReplyToMessages_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageSendDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedMessage.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-641

#623 ADOP-1327 Gatekeeping Seek Further Information Part 1
  src/e2e/fixtures/seekFurtherInfoDetails.js
  src/e2e/pages/seekFurtherInfo.page.js
  src/e2e/tests/correspondenceTab_test.js
  src/e2e/tests/seekFurtherInfo_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-623, no-changes

#648 R2master
  src/e2e/fixtures/seekFurtherInfoDetails.js
  src/e2e/pages/seekFurtherInfo.page.js
  src/e2e/tests/correspondenceTab_test.js
  src/e2e/tests/seekFurtherInfo_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-648
