Repository hmcts/adoption-cos-api, pull requests merged in 2022-02, with the labels that each got.

#83 added readme stuff
  README.md
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-83

#84 Adop 155 payment end 2 end
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionAgencyOrLocalAuthority.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Payment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SocialWorker.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ApplicationValidation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/payment/model/PaymentStatus.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-84

#85 Gov notify access key and test template details added.
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-85

#89 remove demo vault override from jenkinsfile
  Jenkinsfile_CNP
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-89

#87 Docmosis Integration
  build.gradle
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyClient.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentIdProvider.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DraftApplicationRemovalService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/content/DocmosisTemplateProvider.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DocAssemblyRequest.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DocAssemblyResponse.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/LanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/task/AdoptionApplicationRemover.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DocumentIdProviderTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/task/AdoptionApplicationRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestDataHelper.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-87

#92 Adop 431
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationService.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-92

#93 Update values.yaml
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-93

#97 CCD field addittion
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-97

#98 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-98

#99 Adop-19 change
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-99

#101 Adop 533
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/adoption/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/adoption/IdamConsumerTestBase.java
  src/test/java/uk/gov/hmcts/reform/adoption/BaseTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-101

#105 Adop 532 app insights
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-105

#109 Adop 536
  Jenkinsfile_CNP
  build.gradle
  config/fortify-client.properties
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-109

#114 version upgrade
  charts/adoption-cos-api/Chart.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-114

#116 Version upgrade
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-116

#122 Update Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-122

#124 ADOP-555 change
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-124

#123 POC done on xui related journey with events and tabs.
  .gitignore
  build.gradle
  src/cftlib/java/uk/gov/hmcts/reform/adoption/CftLibConfig.java
  src/cftlib/java/uk/gov/hmcts/reform/adoption/RunWithCft.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerRequestAnnexA.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AfterCitizenSubmitUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/RequestAnnexA.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CftLibDemoEvent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-123

#125 Feature/adop 579 validation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SendCitizenSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/adoption/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/FormatUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/task/SendCitizenSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestDataHelper.java
  src/test/resources/task-list-markdown.md
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-125

#127 Caseworker role changes
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerRequestAnnexA.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-127

#129 disabled payment validation
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ApplicationValidation.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-129

#130 Adop 414
  src/main/java/uk/gov/hmcts/reform/adoption/common/notification/ApplicantIssuedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterSubmission.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-130

#132 added field to capture children other sex at birth
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Children.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Gender.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-132

#133 Adop 414
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ApplicationValidation.java
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-133

#134 Adop 414
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-134
