Repository hmcts/adoption-cos-api, pull requests merged in 2022-10, with the labels that each got.

#430 ISDB-376
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionAgencyOrLocalAuthority.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Children.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/FreeingOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PartyWelshLanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Solicitor.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-430

#477 Adop 1396 ex UI view applicant
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-477

#466 removed unused role
  .github/workflows/ccd-diff.yml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/UserRole.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CollectionAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/DefaultAccess.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-466

#487 Jackson dependency update
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-487

#479 fix-ADOP-1395-ExUI-ApplicantCheckAnswers
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendApplicantDetails.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-479

#485 ADOP-1256: Gatekeeping - Transfer court
  codecept.conf.js
  src/e2e/actors/base.js
  src/e2e/config.js
  src/e2e/fixtures/tranferCourt.js
  src/e2e/pages/caseView.page.js
  src/e2e/pages/transferCourt.page.js
  src/e2e/tests/amendCaseDetails_test.js
  src/e2e/tests/transferCourt_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerTransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/TransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerTransferCourtTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-485

#489 Upgraded jackson to 2.14.0-rc1to fix Nightly build
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-489

#483 Adop 1396 ex UI view applicant
  src/e2e/fixtures/amendApplicantDetails.js
  src/e2e/fragments/postcodeLookup.js
  src/e2e/pages/amendApplicationDetails.page.js
  src/e2e/tests/amendApplicationDetails_test.js
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-483

#464 ADOP-1236 manage order changes
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-464

#478 ADOP-1400-Amend Case Details Screen
  codecept.conf.js
  output/parallel_chunk1_4697d80bdefdef94aaba8756c0032a6f_1/default_report.xml
  src/e2e/config.js
  src/e2e/pages/amendCaseDetails.page.js
  src/e2e/pages/caseView.page.js
  src/e2e/tests/amendCaseDetails_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-478

#480 Feature/adop manage order part2
  codecept.conf.js
  src/e2e/config.js
  src/e2e/pages/caseList.page.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderActivity.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderType.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-480

#481 ADOP-1251 Gatekeeping - Allocate Judge
  codecept.conf.js
  src/e2e/config.js
  src/e2e/fixtures/tranferCourt.js
  src/e2e/pages/allocateJudge.page.js
  src/e2e/pages/caseView.page.js
  src/e2e/pages/transferCourt.page.js
  src/e2e/tests/allocateJudge_test.js
  src/e2e/tests/transferCourt_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AddJudge.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendApplicantDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/TransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseWorkerAllocateJudge.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseWorkerAllocateJudgeTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-481

#497 Transfer Court
  src/e2e/fixtures/tranferCourt.js
  src/e2e/pages/caseView.page.js
  src/e2e/pages/transferCourt.page.js
  src/e2e/tests/transferCourt_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerTransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/TransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerTransferCourtTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-497

#447 ADOP-1410-POC
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerReviewDocumentsTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-447

#499 Demo ccd definition upload
  codecept.conf.js
  config/pmd/ruleset.xml
  src/e2e/pages/caseList.page.js
  src/e2e/pages/paymentDetailsTab.page.js
  src/e2e/pages/summaryDetailsTab.page.js
  src/e2e/tests/paymentTab_test.js
  src/e2e/tests/summaryTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerReviewDocumentsTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-499

#511 Feature/adop manage hearing
  codecept.conf.js
  src/e2e/actors/tabs.js
  src/e2e/config.js
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/tests/manageHearings_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/HearingDirections.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/HearingDuration.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingOptions.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MethodOfHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/RecipientsInTheCase.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-511

#504 Adop 1554 gatekeeping screen2 part2.1
  Jenkinsfile_CNP
  src/e2e/actors/base.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/helpers/hooks_helper.js
  src/e2e/pages/login.page.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
  src/e2e/tests/smoke_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-504

#513 Adop 1566 gatekeeping screen2 part2.3
  src/e2e/actors/base.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
  src/e2e/tests/summaryTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Attendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ModeOfHearings.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-513

#525 Adop 1560 gatekeeping screen2 part2.2
  src/e2e/utils/utils.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-525

#521 Feature/adop vacate hearing changes
  src/e2e/pages/manageHearings.page.js
  src/e2e/tests/manageHearings_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ReasonForVacatingHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-521

#514 Adop 1572 gatekeeping screen3 part2.4
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
  src/e2e/tests/summaryTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ApplicantAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Attendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/BirthParentAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ChildAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/LaAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderType.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-514

#527 Sonar issues fixes
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendOtherPartiesDetailsTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-527

#528 Sonar issues fixes
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-528
