Repository hmcts/adoption-cos-api, pull requests merged in 2022-09, with the labels that each got.

#381 ADOP-851-ExUI Case List Tab
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/SearchResultFields.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/workbasket/WorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetDateSubmitted.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-381

#397 upgraded ccd version to 8.0.17
  Jenkinsfile_CNP
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-397

#399 Resolved Nightly Build by Surpassing (CVE-2022-25857)
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-399

#391 Adop 279 part2
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/caseworker/CaseworkerAddNoteFT.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AddCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerAddNoteTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-391

#396 Adop 524
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AddCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/NotesTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/config/ClockConfiguration.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerAddNoteTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-396

#417 Fixed CVE ERROR -> CVE-2022-38749, CVE-2022-38751, CVE-2022-38750
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-417

#420 Feature/fpet 157 fix
  src/functionalTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-420

#414 Adop 518
  .gitignore
  bin/functionalTest/casedata/ccd-callback-casedata-application-payment-added.json
  bin/functionalTest/casedata/ccd-callback-casedata-application-payment-failed.json
  bin/functionalTest/casedata/ccd-callback-casedata-application-payment-not-ready.json
  bin/functionalTest/casedata/ccd-callback-casedata-application-payment-ready.json
  bin/functionalTest/casedata/ccd-callback-casedata-application-validation-failed.json
  bin/functionalTest/casedata/ccd-callback-casedata-application.json
  bin/functionalTest/casedata/response-application-payment-added.json
  bin/functionalTest/casedata/response-application-payment-failed.json
  bin/functionalTest/casedata/response-application-payment-not-ready.json
  bin/functionalTest/casedata/response-application-payment-ready.json
  bin/functionalTest/casedata/response-application-validation-failed.json
  bin/functionalTest/casedata/response-application.json
  config/owasp/suppressions.xml
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-added.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-not-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-validation-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application.json
  src/functionalTest/resources/casedata/response-application-payment-added.json
  src/functionalTest/resources/casedata/response-application-payment-failed.json
  src/functionalTest/resources/casedata/response-application-payment-not-ready.json
  src/functionalTest/resources/casedata/response-application-payment-ready.json
  src/functionalTest/resources/casedata/response-application-validation-failed.json
  src/functionalTest/resources/casedata/response-application.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionAgencyOrLocalAuthority.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Children.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrderType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Sibling.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SiblingPoType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SiblingRelation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SocialWorker.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/ApplicantTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/OtherPartiesTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/SummaryTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterSubmission.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-414

#409 Adop 1338
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionAgencyOrLocalAuthority.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SocialWorker.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-409

#425 ADOP 217 PART-2
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/caseworker/CaseworkerAddNoteFT.java
  src/functionalTest/resources/casedata/request/request-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/casedata/response/response-caseworker-add-notes-about-to-submit.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionUploadDocument.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerUploadDocumentTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-425

#427 Adop 1338
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-427

#422 Adop 879 ex UI documents tab view only
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionUploadDocument.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerUploadDocumentTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-422

#407 XUI Automation framework
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  codecept.conf.js
  output/parallel_chunk1_4697d80bdefdef94aaba8756c0032a6f_1/default_report.xml
  package.json
  src/e2e/actors/base.js
  src/e2e/actors/main.js
  src/e2e/actors/tabs.js
  src/e2e/config.js
  src/e2e/crossbrowser/supportedBrowsers.js
  src/e2e/helpers/SauceLabsReportingHelper.js
  src/e2e/helpers/browser_helper.js
  src/e2e/helpers/cmo_helper.js
  src/e2e/helpers/create_cui_case.js
  src/e2e/helpers/date_to_string_helper.js
  src/e2e/helpers/dump_browser_logs_helper.js
  src/e2e/helpers/event_listener.js
  src/e2e/helpers/generate_report_helper.js
  src/e2e/helpers/hooks_helper.js
  src/e2e/helpers/la_portal_case.js
  src/e2e/helpers/manage_documents_for_LA_helper.js
  src/e2e/helpers/money_helper.js
  src/e2e/helpers/organisation_helper.js
  src/e2e/helpers/stepListener.js
  src/e2e/helpers/upload_case_documents_helper.js
  src/e2e/hooks/aggregate-metrics.js
  src/e2e/pages/caseList.page.js
  src/e2e/pages/eventSummary.page.js
  src/e2e/pages/events/openApplicationEvent.page.js
  src/e2e/pages/login.page.js
  src/e2e/reporters/json-file-reporter/report-aggregator.js
  src/e2e/reporters/json-file-reporter/report-aggregator.test.js
  src/e2e/reporters/json-file-reporter/reporter.js
  src/e2e/reporters/json-file-reporter/utils.js
  src/e2e/tests/smoke_test.js
  src/e2e/utils/utils.js
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-407

#424 ADOP-1138
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CorrespondenceTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-424

#435 Adop 1412
  Jenkinsfile_CNP
  src/e2e/helpers/la_portal_case.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-435

#439 Adop 1412
  charts/adoption-cos-api/Chart.yaml
  src/e2e/helpers/create_cui_case.js
  src/e2e/helpers/la_portal_case.js
  src/e2e/utils/utils.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Sibling.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-439

#441 Case type tab fix
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-441

#443 feat-ExUI-Event-AmendCase
  codecept.conf.js
  src/e2e/actors/base.js
  src/e2e/config.js
  src/e2e/pages/caseList.page.js
  src/e2e/pages/caseView.page.js
  src/e2e/tests/amendCaseDetails_test.js
  src/e2e/tests/smoke_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendCaseDetails.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerAmendCaseTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-443

#446 Update create_cui_case.js
  src/e2e/helpers/create_cui_case.js
  src/e2e/utils/utils.js
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-446

#444 Adop 1254 ex UI event amend applicant details
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendApplicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendApplicantDetails.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerAmendApplicantTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-444

#453 ADOP-1394-Amend Applicant Details Screen - Part 1
  src/e2e/utils/utils.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendApplicantDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-453

#462 alternate PR for https://github.com/hmcts/adoption-cos-api/pull/325/
  .github/workflows/ccd-diff.yml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-462

#465 vulnerability fix for CVE-2022-38752
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-465
