Repository hmcts/adoption-cos-api, pull requests merged in 2022-08, with the labels that each got.

#362 Update Chart.yaml
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-362

#364 Xui login changes
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-364

#358 ADOP-1065 java17 upgrade
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Application.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-358

#370 Preview issue
  Jenkinsfile_CNP
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-370

#372 Preview issue
  Jenkinsfile_CNP
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-372

#384 Adop 1086$
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-384

#367 Adop 1080
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-367

#380 Added logic to move state to AwaitingAdminChecks
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/SystemUpdateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-380

#373 Print your application- Docmosis
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-373
