Repository hmcts/adoption-cos-api, pull requests merged in 2022-11, with the labels that each got.

#529 upgraded hmcts sdk version and fixing all the issues with ccd config generator
  build.gradle
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendOtherPartiesDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-529

#530 ADOP-1636 Refactored Naming convention for other adoption agency
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendOtherPartiesDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OtherAdoptionAgencyOrLocalAuthority.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-530

#531 ADOP-1680- Log issue
  Dockerfile
  Jenkinsfile_CNP
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyService.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-531

#534 Added CVE fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-534

#545 Vulnerability fix r2master from master
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-545

#537 Adop 1578 gatekeeping additional para
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AllocationJudge.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ApplicantAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Attendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/BirthParentAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ChildAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CostOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/HearingNotices.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/LaAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/LeaveToOppose.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderActivity.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersDataAdditionalParagraph.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ModeOfHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ModeOfHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedLocalAuthority.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-537

#535 ADOP-1596-Part-2
  config/owasp/suppressions.xml
  src/e2e/pages/manageHearings.page.js
  src/e2e/tests/generateAdoptionApplicationDocument_test.js
  src/e2e/tests/manageHearings_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/RecipientsInTheCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-535

#536 ADOP-1651-GatekeepingCAFCASS
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-536

#553 Merge R2master to demo
  codecept.conf.js
  config/owasp/suppressions.xml
  src/e2e/config.js
  src/e2e/fixtures/amendOtherPartiesDetails.js
  src/e2e/fixtures/manageHearings.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/amendOtherPartiesDetails.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/amendOtherPartiesDetails_test.js
  src/e2e/tests/generateAdoptionApplicationDocument_test.js
  src/e2e/tests/manageHearings_test.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AmendOtherPartiesDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AllocationJudge.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ApplicantAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Attendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/BirthParentAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ChildAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CostOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/HearingNotices.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/LaAttendance.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/LeaveToOppose.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderActivity.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrderType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersDataAdditionalParagraph.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ModeOfHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ModeOfHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/RecipientsInTheCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedLocalAuthority.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-553

#548 Feature/adop 1701 adjournhearing
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/tests/manageHearingTab_test.js
  src/e2e/tests/manageHearings_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionLabels.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ReasonForAdjournHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CcdLables.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-548

#542 ADOP-1022: Case File Tab - Seek Further Information
  codecept.conf.js
  src/e2e/config.js
  src/e2e/fixtures/seekFurtherInfoDetails.js
  src/e2e/pages/seekFurtherInfo.page.js
  src/e2e/tests/seekFurtherInfo_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/FurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentSubmitter.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseWorkerSeekFurtherInformationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-542

#556 Adop 1584 gatekeeping serve parties
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/DirectionsOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersDataAdditionalParagraph.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-556

#552 Adop 1630 final adoption order part 2
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-552

#549 ADOP-1708-Final Adoption order - Screen 2
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CountryOfBirth.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/TypeOfCertificate.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-549

#550 Adop 1714 final order recipients cya
  codecept.conf.js
  src/e2e/fixtures/finalAdoptionOrderDetails.js
  src/e2e/pages/finalAdoptionOrder.page.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-550

#555 Upgrading terraform version
  infrastructure/.terraform-version
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-555

#562 Reverted the build gradle jar version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-562

#567 Order - Gatekeeping & Final order - Additional Changes
  src/e2e/fixtures/finalAdoptionOrderDetails.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/finalAdoptionOrder.page.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-567

#574 R2master
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-574

#561 Feature/adop waystopay changes
  build.gradle
  src/e2e/pages/paymentDetailsTab.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-561

#580 Feature/adop waystopay changes (#561)
  build.gradle
  src/e2e/pages/paymentDetailsTab.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-580

#569 Seek Further Information - Part 4
  codecept.conf.js
  src/e2e/pages/correspondenceTab.page.js
  src/e2e/tests/correspondenceTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CorrespondenceTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionUploadDocument.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseWorkerSeekFurtherInformationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-569
