Repository hmcts/adoption-cos-api, pull requests merged in 2022-07, with the labels that each got.

#330 CVEs added in ignore list as fix is not yet available.
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-330

#332 Commented backend validation for SW and LA.
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtilTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-332

#331 FPET-57 suppressed CVE
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-331

#337 Ft fixes
  src/functionalTest/resources/casedata/response-application-payment-not-ready.json
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-337

#338 Removal of demo from JenkinsCNP
  Jenkinsfile_CNP
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-338

#328 ADOP 979
  README.md
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrder.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-328

#340 ADOP 980 La Portal Sibling Court
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-added.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-not-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-validation-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application.json
  src/functionalTest/resources/casedata/response-application-payment-added.json
  src/functionalTest/resources/casedata/response-application-payment-failed.json
  src/functionalTest/resources/casedata/response-application-payment-not-ready.json
  src/functionalTest/resources/casedata/response-application-payment-ready.json
  src/functionalTest/resources/casedata/response-application-validation-failed.json
  src/functionalTest/resources/casedata/response-application.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Sibling.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SiblingPoType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SiblingRelation.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-340

#344 Added 2 variables
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-344

#350 Suppressed CVEs
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-350

#353 Sync r2master
  README.md
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  config/owasp/suppressions.xml
  src/cftlib/java/uk/gov/hmcts/reform/adoption/CftLibConfig.java
  src/contractTest/java/uk/gov/hmcts/reform/adoption/CaseDocumentClientPactTest.java
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/UserRole.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/CollectionAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/AddSystemUpdateRole.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/CaseDocumentClient.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DraftApplicationRemovalService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DocAssemblyRequest.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-353

#354 Update Chart.yaml
  charts/adoption-cos-api/Chart.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-354

#355 cherry-pick FPET-65 Changes to R2Master
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-355

#352 Converted PlacementOrderType to a FixedList
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-added.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-not-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-validation-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application.json
  src/functionalTest/resources/casedata/response-application-payment-added.json
  src/functionalTest/resources/casedata/response-application-payment-failed.json
  src/functionalTest/resources/casedata/response-application-payment-not-ready.json
  src/functionalTest/resources/casedata/response-application-payment-ready.json
  src/functionalTest/resources/casedata/response-application-validation-failed.json
  src/functionalTest/resources/casedata/response-application.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrderType.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-352

#346 Adop 979
  build.gradle
  src/functionalTest/resources/casedata/ccd-callback-casedata-application.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/task/SendSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-346
