Repository hmcts/adoption-cos-api, pull requests merged in 2022-05, with the labels that each got.

#248 ADOP-487 Launch darkly - Backend
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDarkClientFactory.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDirectlyIntValidationController.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchdarklyIntValidationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDarkClientFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-248

#255 Adop 911 sibling section
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-added.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-not-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-validation-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application.json
  src/functionalTest/resources/casedata/response-application-payment-added.json
  src/functionalTest/resources/casedata/response-application-payment-failed.json
  src/functionalTest/resources/casedata/response-application-payment-not-ready.json
  src/functionalTest/resources/casedata/response-application-payment-ready.json
  src/functionalTest/resources/casedata/response-application-validation-failed.json
  src/functionalTest/resources/casedata/response-application.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Sibling.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-255

#270 fixed cve issue
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/SearchInputFields.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-270

#275 Disabled DGS
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/citizen/ApplicationPaymentFT.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-275

#274 fixed cve issue
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-274

#273 Adop 912
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/UserRole.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/ExceptionRecordCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/ExceptionRecordPageBuilder.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/ExceptionRecordState.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/event/AttachExceptionRecordToCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessing.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/event/CreateCaseFromExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/event/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/event/ManuallyHandleExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/ccd/event/RejectExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/data/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/data/KeyValue.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/data/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/data/ScannedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/search/ExceptionRecordSearchInputFields.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/search/ExceptionRecordSearchResultFields.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/workbasket/ExceptionRecordWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/reform/adoption/bulkscan/workbasket/ExceptionRecordWorkBasketResultFields.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/event/AttachExceptionRecordToCaseTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessingTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/event/CreateCaseFromExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/event/CreateExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/event/ManuallyHandleExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/event/RejectExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/search/ExceptionRecordSearchInputFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/search/ExceptionRecordSearchResultFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/workbasket/ExceptionRecordWorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/bulkscan/ccd/workbasket/ExceptionRecordWorkBasketResultFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestDataHelper.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-273

#283 fixed cve issue
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-283
