Repository hmcts/adoption-cos-api, pull requests merged in 2022-03, with the labels that each got.

#135 Adop 414
  charts/adoption-cos-api/Chart.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-135

#136 ADOP-129 change
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-136

#138 Adop 414
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-138

#147 Adop 536
  Jenkinsfile_nightly
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-147

#148 New tech improvements
  README.md
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-148

#152 Jacoco report configuration corrected to have more refined classes un…
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-152

#153 Jacoco report configuration corrected to have more refined classes un…
  build.gradle
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-153

#156 Notification template-id added for R1 notifications.
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-156

#157 Integrate latest Gradle plugin cft lib
  build.gradle
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/adoption/RunWithCft.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-157

#158 removed JsonNaming from Sibling class
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Sibling.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-158

#160 Added Notifications and Document generation
  src/main/java/uk/gov/hmcts/reform/adoption/common/notification/ApplicantIssuedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SendCitizenSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DocAssemblyResponse.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/task/SendCitizenSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestDataHelper.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-160

#162 added updated case data to notification task
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-162

#163 implemented onIthc hook
  Jenkinsfile_CNP
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-163

#164 Adop 455
  build.gradle
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-164

#166 Adop 455
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/AdoptionDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-166

#168 Added logs
  src/main/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-168

#171 Config changes
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.aat.template.yaml
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-171

#172 Config changes
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-172

#174 Zap changes
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
  security.sh
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-174

#175 Adop 710 zap
  Jenkinsfile_nightly
  audit.json
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-175

#176 Welsh Document Notifications
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-176

#177 Welsh document notifications
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-177

#178 ADOP-722
  .gitignore
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-178

#188 Welsh document notifications
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-188

#186 pact test of docmosis-api
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/adoption/DocumentManagementPactTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-186

#194 Adop 721
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/citizen/ApplicationCreateFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/citizen/ApplicationPaymentFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/citizen/ApplicationSubmittedFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/testutil/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/testutil/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/testutil/RestTemplateConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/testutil/ServiceAuthenticationGenerator.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-added.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-not-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-payment-ready.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application-validation-failed.json
  src/functionalTest/resources/casedata/ccd-callback-casedata-application.json
  src/functionalTest/resources/casedata/response-application-payment-added.json
  src/functionalTest/resources/casedata/response-application-payment-failed.json
  src/functionalTest/resources/casedata/response-application-payment-not-ready.json
  src/functionalTest/resources/casedata/response-application-payment-ready.json
  src/functionalTest/resources/casedata/response-application-validation-failed.json
  src/functionalTest/resources/casedata/response-application.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Children.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/service/CcdSearchCaseException.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestDataHelper.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-194

#195 Adop 721
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocument.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-195

#196 Adop 721
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocument.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-196
