Repository hmcts/adoption-cos-api, pull requests merged in 2023-05, with the labels that each got.

#795 FPET-528
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/LocalAuthoritySubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTaskTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseWorkerSeekFurtherInformationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-795

#797 FPET-534
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendOtherPartiesDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendOtherPartiesDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtilTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-797

#801 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-801

#802 Fpet smoke test disable
  src/e2e/tests/allocateJudge_test.js
  src/e2e/tests/amendApplicationDetails_test.js
  src/e2e/tests/amendCaseDetails_test.js
  src/e2e/tests/amendOtherPartiesDetails_test.js
  src/e2e/tests/checkAndSendOrders_test.js
  src/e2e/tests/correspondenceTab_test.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/e2e/tests/generalDirectionOrder_test.js
  src/e2e/tests/generateAdoptionApplicationDocument_test.js
  src/e2e/tests/manageHearingTab_test.js
  src/e2e/tests/manageHearings_test.js
  src/e2e/tests/manageOrder_test.js
  src/e2e/tests/paymentTab_test.js
  src/e2e/tests/seekFurtherInfo_test.js
  src/e2e/tests/sendOrReplyToMessages_test.js
  src/e2e/tests/smoke_test.js
  src/e2e/tests/summaryTab_test.js
  src/e2e/tests/transferCourt_test.js
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-802

#812 added appinsight connection String
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-812

#813 appinsights changes for release
  Dockerfile
  Jenkinsfile_CNP
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.yaml
  lib/applicationinsights.json
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-813

#816 added config for definition file creation
  Jenkinsfile_CNP
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-816

#817 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-817

#819 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-819
