Repository hmcts/adoption-cos-api, pull requests merged in 2023-02, with the labels that each got.

#694 Dependency Upgrade for pipeline fix
  Jenkinsfile_CNP
  build.gradle
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-694

#691 ADOP-2144-Automation script update for case creation with new fields
  src/e2e/utils/utils.js
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-691

#698 Feature adop 2132 cronjob
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ccd/raw/BigDecimalSerializer.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ccd/raw/LocalDateTimeSerializer.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/task/ScheduledTaskRunner.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/service/task/ScheduledTaskRunnerTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-698

#699 Feature adop 2132 cronjob part2
  bin/functionalTest/application.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/DraftApplicationExpiringNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/systemupdate/CaseDetailsConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/DraftApplicationExpiringNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/systemupdate/CaseDetailsConverterTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/testutil/TestDataHelper.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-699

#695 feat: add dss change on master branch(ISDB-570)
  charts/adoption-cos-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DssDocumentInfo.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-695

#702 Feature/isdb 570 dss change copy
  charts/adoption-cos-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DssDocumentInfo.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-702

#700 ADOP-2159-Email to applicant to confirm LA submission
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-700

#706 Feature adop 2132 cron changes
  bin/functionalTest/application.yaml
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTaskTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-706

#697 ADOP-2172-ReasonableAdjustment-CYA
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Applicant.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-697

#712 Feature adop 2191 multichild alert
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotificationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-712

#715 Release 1.1
  charts/adoption-cos-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotificationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-715

#725 CVSS-score-fix
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-725

#730 Fixed Sonar Issue
  src/main/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotification.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-730
