Repository hmcts/adoption-cos-api, pull requests merged in 2023-11, with the labels that each got.

#887 Revert "FPET-748-ZAP-Report-Fix-added security.sh file for zap report generation"
  .ci/security.sh
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-887

#891 FPET-777: Fix applying-with performance issues
  package.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenCreateApplicationTest.java
  yarn.lock
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-891

#888 FPET-765-added event handler
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/config/AsynchronousEventConfig.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/handlers/ApplicationSubmittedNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/handlers/LocalAuthorityApplicationSubmittedNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/event/ApplicationSubmitNotificationEvent.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/event/LocalAuthorityApplicationSubmitNotificationEvent.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/task/EventService.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/LocalAuthoritySubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/handlers/ApplicationSubmittedNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/handlers/LocalAuthorityApplicationSubmittedNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/service/task/EventServiceTest.java
  yarn.lock
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-888
