Repository hmcts/adoption-cos-api, pull requests merged in 2023-01, with the labels that each got.

#644 ADOP-1875 Case Flags - Setup supplementary data changes
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenCreateApplicationTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-644, no-changes

#637 Adop 1262 mh docmosis a91
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/manageHearings.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/RecipientsInTheCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-637, no-changes

#638 ADOP-1942 Order ExUI Content Updates
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/allocateJudge.page.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/pages/manageOrderTab.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-638, no-changes

#663 R2master
  config/owasp/suppressions.xml
  src/e2e/fixtures/manageHearings.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/allocateJudge.page.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/pages/manageOrderTab.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/RecipientsInTheCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenCreateApplicationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-663

#656 ADOP-1404: Screen Tabs Sequencing
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CorrespondenceTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/NotesTab.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-656

#653 ADOP-1878 and ADOP-1879 closed and open messages changes
  codecept.conf.js
  config/owasp/suppressions.xml
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/messagesTab.page.js
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/sendOrReplyToMessages_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageSendDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-653

#664 R2master
  codecept.conf.js
  config/owasp/suppressions.xml
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/messagesTab.page.js
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/sendOrReplyToMessages_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageSendDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CorrespondenceTab.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/NotesTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-664

#655 ADOP-1943-Final adoption - Additional Changes - Part 1
  config/owasp/suppressions.xml
  src/e2e/pages/finalAdoptionOrder.page.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-655

#666 R2master
  config/owasp/suppressions.xml
  src/e2e/fixtures/finalAdoptionOrderDetails.js
  src/e2e/fixtures/manageOrderDetails.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/finalAdoptionOrder.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/pages/manageOrderTab.page.js
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/finalAdoptionOrder_test.js
  src/e2e/tests/manageOrder_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageOrdersData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/RecipientsInTheCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtilTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-666

#657 Check & Send Orders - Part 3.1 - Return amendments - Update Message Tab
  src/e2e/fixtures/checkAndSendOrderDetails.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageOrderTab.page.js
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/checkAndSendOrders_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageSendDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilderTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-657

#665 Dependency check vulnerabilities fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-665

#670 Code coverage fixes
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-670

#671 sonar fixes in R2master
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-671

#662 Send & reply messages - Update Reason for message
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/messagesTab.page.js
  src/e2e/pages/paymentDetailsTab.page.js
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/checkAndSendOrders_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-662

#659 ADOP-1937 Adjourn and Vacate hearing reason list update
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/tests/manageHearingTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ReasonForAdjournHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ReasonForVacatingHearing.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-659

#667 R2master
  src/e2e/fixtures/checkAndSendOrderDetails.js
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageHearings.page.js
  src/e2e/pages/manageHearingsTab.page.js
  src/e2e/pages/manageOrderTab.page.js
  src/e2e/pages/messagesTab.page.js
  src/e2e/pages/paymentDetailsTab.page.js
  src/e2e/pages/sendOrReplyToMessages.page.js
  src/e2e/tests/checkAndSendOrders_test.js
  src/e2e/tests/manageHearingTab_test.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/ManageHearings.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/SendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ManageHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/MessageSendDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ReasonForAdjournHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ReasonForVacatingHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilderTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-667

#643 ADOP-1911-Docmosis-A206-Final
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedOrder.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilderTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-643, no-changes

#661 ADOP-1947-Final adoption - Additional Changes - Part 2
  config/owasp/suppressions.xml
  src/e2e/pages/finalAdoptionOrder.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-661

#672 Merge R2master into demo
  src/e2e/pages/finalAdoptionOrder.page.js
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/AdoptionOrder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/page/CheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethods.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/OrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SelectedOrder.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilderTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-672

#675 Fixed regression failing tests
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageHearings.page.js
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-675

#678 R2master
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/e2e/fixtures/manageHearings.js
  src/e2e/pages/checkAndSendOrders.page.js
  src/e2e/pages/manageHearings.page.js
Labels: no-changes

#676 Feature adop 1973 dss part1
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DssDocumentInfo.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenCreateApplicationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-676

#680 Payment Issue Fix
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/AdoptionOrderData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-680

#683 Release 1.1
  charts/adoption-cos-api/Chart.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-683

#686 Readme updates
  README.md
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-686

#685 ADOP-2022-Other person with parental responsibility throwing an error when user select in recipients
  src/e2e/pages/manageOrders.page.js
  src/e2e/tests/generateAdoptionApplicationDocument_test.js
  src/e2e/utils/utils.js
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-685

#687 ADOP-2137 Code smell fixes
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilder.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-687
