Repository hmcts/adoption-cos-api, pull requests merged in 2023-06, with the labels that each got.

#818 Removed comments
  .gitignore
  .nvmrc
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentService.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentServiceTest.java
  yarn.lock
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-818

#832 Updated role for dss update application event
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseworkerUpdateDssApplication.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-832

#831 added ccd definition generation logic
  Jenkinsfile_CNP
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-831
