Repository hmcts/adoption-cos-api, pull requests merged in 2023-03, with the labels that each got.

#717 ADOP-2222: LA - Birth Father Responsibility
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ResponsibilityReasons.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-717

#733 Release 1.1
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrderType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ResponsibilityReasons.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SiblingPoType.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-733

#727 ADOP-2131-Email to pilot court for submission of full application
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-727

#728 ADOP-2228: Multiple Children - Welsh Translation
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-728

#734 Demo Property file issue fix
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-734

#735 added dummy properties
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-735

#736 Release 1.1
  charts/adoption-cos-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-736

#741 reverted last 2 changes
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-741

#744 ADOP-2278 Notify Template Issue fix
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-744

#745 Release 1.1
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/Parent.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/PlacementOrderType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/ResponsibilityReasons.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/SiblingPoType.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotificationTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-745

#748 Release 1.1
  charts/adoption-cos-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-748

#757 updated chart versions
  charts/adoption-cos-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-757

#764 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-764

#763 Feature resovlingconflicts r1.1 master
  build.gradle
  charts/adoption-cos-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseworkerUpdateDssApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DssUploadedDocument.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-763

#753 FPET-423/425-SendGrid for both local court emails
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-753

#767 Release 1.1 to Demo
  Jenkinsfile_CNP
  build.gradle
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseworkerUpdateDssApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DssUploadedDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-767

#768 added sendgrid keys
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-768

#754 Updating the service url to platform.hmcts.net from .internal
  Jenkinsfile_CNP
  charts/adoption-cos-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-754

#769 Gov UK notify was failing upon Sendgrid failure
  Jenkinsfile_CNP
  charts/adoption-cos-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-769
