Repository hmcts/adoption-cos-api, pull requests merged in 2023-04, with the labels that each got.

#771 added 2 new sendgrid secrets in build.gradle
  build.gradle
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-771

#772 suppressed CVE && commented failure
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-772

#775 FPET-476 docker java image update from open jdk
  Dockerfile
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/config/SwaggerPublisherTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-775

#777 FPET-492 security.sh file deleted due to security issues
  Jenkinsfile_nightly
  security.sh
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-777

#778 Fpet 492 nightlybuildissue
  audit.json
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/config/SwaggerPublisherTest.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-778

#781 FPET-509 nightly build security issues
  audit.json
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-781

#780 Fpet 504 part 2
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-780

#784 FPET-515 moved notifications to submitted call back
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-784

#787 FPET-522 CVE-2023-20863 supression
  config/owasp/suppressions.xml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-787

#788 Feature fpet 525 masterbuild
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-788

#792 updated the court email address
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-792

#793 Release 1.1 to Demo- COS
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  audit.json
  build.gradle
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
  config/owasp/suppressions.xml
  security.sh
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTask.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearingTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseWorkerAllocateJudgeTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerAddNoteTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerReviewDocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerTransferCourtTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDarkClientFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/config/launchdarkly/LaunchDarklyClientTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/DraftApplicationExpiringNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
Labels: ns:adoption, prd:adoption, no-changes, rel:adoption-cos-api-pr-793
