Repository hmcts/adoption-cos-api, pull requests merged in 2024-11, with the labels that each got.

#953 Update yarn to 3.8.6
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-3.8.6.cjs
  .yarnrc.yml
  package.json
Labels: ns:adoption, prd:adoption, enable_fortify_scan, rel:adoption-cos-api-pr-953

#954 ADOP-2544 removal of states in case list filters
  README.md
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/Adoption.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendApplicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendOtherPartiesDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerRequestAnnexA.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerTransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseWorkerAllocateJudge.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseworkerUpdateDssApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/State.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/state/AwaitingPaymentAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/state/DraftAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/state/LocalAuthoritySubmittedAccess.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/access/state/SubmittedAccess.java
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-954

#957 [ADOP-2408] remove redundant HPA config from charts (moved to cnp-flux)
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
  charts/adoption-cos-api/values.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-957

#960 Revert changes to caseworker events, knock on effect to field permissions
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseWorkerManageHearing.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendApplicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendOtherPartiesDetails.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerManageOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerRequestAnnexA.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerTransferCourt.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseWorkerAllocateJudge.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CaseworkerUpdateDssApplication.java
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-960
