Repository hmcts/adoption-cos-api, pull requests merged in 2024-01, with the labels that each got.

#892 FPET-727-Perf fixes public beta
  package.json
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/event/LocalAuthoritySubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/config/AsynchronousEventConfig.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/handlers/ApplicationSubmittedNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/handlers/LocalAuthorityApplicationSubmittedNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/event/ApplicationSubmitNotificationEvent.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/event/LocalAuthorityApplicationSubmitNotificationEvent.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/task/EventService.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CitizenCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/LocalAuthoritySubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/handlers/ApplicationSubmittedNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/handlers/LocalAuthorityApplicationSubmittedNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/service/task/EventServiceTest.java
  yarn.lock
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-892

#886 FPET-759: Quality Gate Improvements
  src/main/java/uk/gov/hmcts/reform/adoption/document/DraftApplicationRemovalService.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CaseEventCommonMethodsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/common/CommonPageBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/RecipientValidationUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/validation/ValidationUtilTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/common/service/task/GenerateApplicationSummaryDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/DraftApplicationExpiringNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-886

#906 FPET-709-Time scheduler for Email notification to applicant for deletion of date to be increased to 21
  bin/functionalTest/application.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTask.java
  src/main/resources/application.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-906
