Repository hmcts/adoption-cos-api, pull requests merged in 2024-06, with the labels that each got.

#937 Adop 2450 v3
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-937

#930 Adop 2351 update spring boot v3 copy
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  lib/AI-Agent.xml
  src/contractTest/java/uk/gov/hmcts/reform/adoption/CaseDocumentClientPactTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/adoption/testutil/FunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/adoption/Application.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCaseNote.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrders.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSeekFurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReply.java
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/config/EmailTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/adoption/common/service/task/SetStateAfterLaSubmission.java
  src/main/java/uk/gov/hmcts/reform/adoption/document/model/DocAssemblyResponse.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/DraftApplicationExpiringNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/adoption/notification/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/task/ScheduledTaskRunner.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerAmendOtherPartiesDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerCheckAndSendOrdersTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/caseworker/event/CaseworkerSendOrReplyTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertDraftCaseApplicantBeforeDeletionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTaskTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseWorkerSeekFurtherInformationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerAddNoteTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/caseworker/event/CaseworkerReviewDocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/DraftApplicationExpiringNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/MultiChildSubmitAlertEmailNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/notification/SendGridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/service/task/ScheduledTaskRunnerTest.java
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-930

#934 ADOP-2450 v2 - Flexserver Configuration for Preview
  Jenkinsfile_CNP
  README.md
  bin/wait-for.sh
  charts/adoption-cos-api/Chart.yaml
  charts/adoption-cos-api/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-cos-api-pr-934
