Repository hmcts/adoption-cos-api, pull requests merged in 2025-03, with the labels that each got.

#983 Updates to README after assurance exercise
  README.md
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-983

#986 ADOP-2641 (Part 2) Removed email from logs
  src/main/java/uk/gov/hmcts/reform/adoption/adoptioncase/schedule/AlertMultiChildApplicationToSubmitTask.java
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-986

#984 ADOP-2628: Update references to base charts to OCI versions
  charts/adoption-cos-api/Chart.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-984

#987 Add ccd-idam-pr tag to ccd chart dependency
  charts/adoption-cos-api/Chart.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-cos-api-pr-987
